<p>
    <strong>Supplier: </strong>@await Html.PartialAsync("/Views/NccSelect/Partials/_DropDownList1.cshtml")
</p>

<p>
    <strong>Categories: </strong>@await Html.PartialAsync("/Views/NccSelect/Partials/_DropDownList2.cshtml")
</p>

<p>
    <strong>Products: </strong>@await Html.PartialAsync("/Views/NccSelect/Partials/_DropDownList3.cshtml")
</p>
<div class="row">
    <div class="col-md-12">
        <h3>Controller code</h3>
        <div class="code">
            <span class="Linq">var</span>&nbsp;context&nbsp;=&nbsp;<span class="Keyword">new</span>&nbsp;NccSelectContext<br />
            {<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Id&nbsp;=&nbsp;<span class="String">"DropDownList1"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;DataAccessClass&nbsp;=&nbsp;<span class="Keyword">typeof</span>(IDataAccess).AssemblyQualifiedName,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;SelectMethod&nbsp;=&nbsp;<span class="String">"GetSuppliers"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;TextValue&nbsp;=&nbsp;<span class="String">"CompanyName"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;DataValue&nbsp;=&nbsp;<span class="String">"SupplierID"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;FirstItem&nbsp;=&nbsp;<span class="String">"---&nbsp;Please&nbsp;select&nbsp;---"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;ViewPaths&nbsp;=&nbsp;<span class="Keyword">new</span>&nbsp;ViewsPathsModel&nbsp;{&nbsp;ViewPath&nbsp;=&nbsp;<span class="String">"/Views/NccSelect/Partials/_DropDownList1.cshtml"</span>&nbsp;}<br />
            };<br />
            <br />
            ViewData[context.Id]&nbsp;=&nbsp;context;<br />
            <br />
            <span class="Linq">var</span>&nbsp;context2&nbsp;=&nbsp;<span class="Keyword">new</span>&nbsp;NccSelectContext<br />
            {<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Id&nbsp;=&nbsp;<span class="String">"DropDownList2"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;DataAccessClass&nbsp;=&nbsp;<span class="Keyword">typeof</span>(IDataAccess).AssemblyQualifiedName,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;SelectMethod&nbsp;=&nbsp;<span class="String">"GetCategoriesBySupplier"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;SelectParameters&nbsp;=&nbsp;<span class="Keyword">new</span>&nbsp;{&nbsp;supplierId&nbsp;=&nbsp;(<span class="ValueType">int</span>?)<span class="Keyword">null</span>&nbsp;}.NccToExpando(),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;TextValue&nbsp;=&nbsp;<span class="String">"CategoryName"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;DataValue&nbsp;=&nbsp;<span class="String">"CategoryID"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;FirstItem&nbsp;=&nbsp;<span class="String">"---&nbsp;Please&nbsp;select&nbsp;---"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;ViewPaths&nbsp;=&nbsp;<span class="Keyword">new</span>&nbsp;ViewsPathsModel&nbsp;{&nbsp;ViewPath&nbsp;=&nbsp;<span class="String">"/Views/NccSelect/Partials/_DropDownList2.cshtml"</span>&nbsp;}<br />
            };<br />
            <br />
            ViewData[context2.Id]&nbsp;=&nbsp;context2;<br />
            <br />
            <span class="Linq">var</span>&nbsp;context3&nbsp;=&nbsp;<span class="Keyword">new</span>&nbsp;NccSelectContext<br />
            {<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Id&nbsp;=&nbsp;<span class="String">"DropDownList3"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;DataAccessClass&nbsp;=&nbsp;<span class="Keyword">typeof</span>(IDataAccess).AssemblyQualifiedName,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;SelectMethod&nbsp;=&nbsp;<span class="String">"GetProductsByCategoryAndSupplier"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;SelectParameters&nbsp;=&nbsp;<span class="Keyword">new</span>&nbsp;{&nbsp;supplierId&nbsp;=&nbsp;(<span class="ValueType">int</span>?)<span class="Keyword">null</span>,&nbsp;categoryId&nbsp;=&nbsp;(<span class="ValueType">int</span>?)<span class="Keyword">null</span>&nbsp;}.NccToExpando(),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;TextValue&nbsp;=&nbsp;<span class="String">"ProductName"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;DataValue&nbsp;=&nbsp;<span class="String">"ProductID"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;FirstItem&nbsp;=&nbsp;<span class="String">"---&nbsp;Please&nbsp;select&nbsp;---"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;ViewPaths&nbsp;=&nbsp;<span class="Keyword">new</span>&nbsp;ViewsPathsModel&nbsp;{&nbsp;ViewPath&nbsp;=&nbsp;<span class="String">"/Views/NccSelect/Partials/_DropDownList3.cshtml"</span>&nbsp;}<br />
            };<br />
            <br />
            ViewData[context3.Id]&nbsp;=&nbsp;context3;<br />
            <span class="Statement">return</span>&nbsp;View();
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>View</h3>
        <div class="code">
            &lt;p&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Supplier:&nbsp;&lt;/strong&gt;@@<span class="Modifier">await</span>&nbsp;Html.PartialAsync(<span class="String">"/Views/NccSelect/Partials/_DropDownList1.cshtml"</span>)<br />
            &lt;/p&gt;<br />
            <br />
            &lt;p&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Categories:&nbsp;&lt;/strong&gt;@@<span class="Modifier">await</span>&nbsp;Html.PartialAsync(<span class="String">"/Views/NccSelect/Partials/_DropDownList2.cshtml"</span>)<br />
            &lt;/p&gt;<br />
            <br />
            &lt;p&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Products:&nbsp;&lt;/strong&gt;@@<span class="Modifier">await</span>&nbsp;Html.PartialAsync(<span class="String">"/Views/NccSelect/Partials/_DropDownList3.cshtml"</span>)<br />
            &lt;/p&gt;
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Partial View 1</h3>
        <div class="code">
            @@<span class="Namespace">using</span>&nbsp;ByteNuts.NetCoreControls.Models.Select<br />
            @@{<br />
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="Linq">var</span>&nbsp;context&nbsp;=&nbsp;ViewData[<span class="String">"DropDownList1"</span>]&nbsp;<span class="Keyword">as</span>&nbsp;NccSelectContext;<br />
            }<br />
            <br />
            &lt;ncc:<span class="Linq">select</span>&nbsp;name=<span class="String">"supplierId"</span>&nbsp;Context=<span class="String">"@@context"</span>&nbsp;ncc-link-targets=<span class="String">"DropDownList1,DropDownList2,DropDownList3"</span>&nbsp;<span class="ReferenceType">class</span>=<span class="String">"form-control"</span>&gt;&lt;/ncc:<span class="Linq">select</span>&gt;
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Partial View 2</h3>
        <div class="code">
            @@<span class="Namespace">using</span>&nbsp;ByteNuts.NetCoreControls.Models.Select<br />
            @@{<br />
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="Linq">var</span>&nbsp;context&nbsp;=&nbsp;ViewData[<span class="String">"DropDownList2"</span>]&nbsp;<span class="Keyword">as</span>&nbsp;NccSelectContext;<br />
            }<br />
            <br />
            &lt;ncc:<span class="Linq">select</span>&nbsp;name=<span class="String">"categoryId"</span>&nbsp;Context=<span class="String">"@@context"</span>&nbsp;ncc-link-targets=<span class="String">"DropDownList1,DropDownList2,DropDownList3"</span>&nbsp;<span class="ReferenceType">class</span>=<span class="String">"form-control"</span>&gt;&lt;/ncc:<span class="Linq">select</span>&gt;
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Partial View 3</h3>
        <div class="code">
            @@<span class="Namespace">using</span>&nbsp;ByteNuts.NetCoreControls.Models.Select<br />
            @@{<br />
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="Linq">var</span>&nbsp;context&nbsp;=&nbsp;ViewData[<span class="String">"DropDownList3"</span>]&nbsp;<span class="Keyword">as</span>&nbsp;NccSelectContext;<br />
            }<br />
            <br />
            &lt;ncc:<span class="Linq">select</span>&nbsp;Context=<span class="String">"@@context"</span>&nbsp;ncc-link-targets=<span class="String">"DropDownList1,DropDownList2,DropDownList3"</span>&nbsp;<span class="ReferenceType">class</span>=<span class="String">"form-control"</span>&gt;&lt;/ncc:<span class="Linq">select</span>&gt;
        </div>
    </div>
</div>