<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NetCoreControls" value="https://www.myget.org/F/netcorecontrols/api/v3/index.json" />
  </packageSources>
  <!--<activePackageSource>
    <add key="NetCoreControls" value="https://www.myget.org/F/netcorecontrols/api/v3/index.json" />
  </activePackageSource>-->
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration>