<p>
    <strong>Customer: </strong>@await Html.PartialAsync("/Views/NccSelect/Partials/_DifferentControls1.cshtml")
</p>

<p>
    <strong>Order: </strong>@await Html.PartialAsync("/Views/NccSelect/Partials/_DifferentControls2.cshtml")
</p>

<p>
    <strong>Products: </strong><br/>@await Html.PartialAsync("/Views/NccSelect/Partials/_DifferentControls3.cshtml")
</p>


<div class="row">
    <div class="col-md-12">
        <h3>Controller code</h3>
        <div class="code">
            <span class="Linq">var</span>&nbsp;context&nbsp;=&nbsp;<span class="Keyword">new</span>&nbsp;NccSelectContext<br />
            {<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Id&nbsp;=&nbsp;<span class="String">"DifferentControls1"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;DataAccessClass&nbsp;=&nbsp;<span class="Keyword">typeof</span>(IDataAccess).AssemblyQualifiedName,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;SelectMethod&nbsp;=&nbsp;<span class="String">"GetCustomers"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;TextValue&nbsp;=&nbsp;<span class="String">"CompanyName"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;DataValue&nbsp;=&nbsp;<span class="String">"CustomerId"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;FirstItem&nbsp;=&nbsp;<span class="String">"---&nbsp;Please&nbsp;select&nbsp;---"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;ViewPaths&nbsp;=&nbsp;<span class="Keyword">new</span>&nbsp;ViewsPathsModel&nbsp;{&nbsp;ViewPath&nbsp;=&nbsp;<span class="String">"/Views/NccSelect/Partials/_DifferentControls1.cshtml"</span>&nbsp;}<br />
            };<br />
            <br />
            ViewData[context.Id]&nbsp;=&nbsp;context;<br />
            <br />
            <span class="Linq">var</span>&nbsp;context2&nbsp;=&nbsp;<span class="Keyword">new</span>&nbsp;NccSelectContext<br />
            {<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Id&nbsp;=&nbsp;<span class="String">"DifferentControls2"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;DataAccessClass&nbsp;=&nbsp;<span class="Keyword">typeof</span>(IDataAccess).AssemblyQualifiedName,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;SelectMethod&nbsp;=&nbsp;<span class="String">"GetOrderByCustomer"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;SelectParameters&nbsp;=&nbsp;<span class="Keyword">new</span>&nbsp;{&nbsp;customerId&nbsp;=&nbsp;(<span class="ValueType">int</span>?)<span class="Keyword">null</span>&nbsp;}.NccToExpando(),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;TextValue&nbsp;=&nbsp;<span class="String">"OrderDate"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;DataValue&nbsp;=&nbsp;<span class="String">"OrderId"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;FirstItem&nbsp;=&nbsp;<span class="String">"---&nbsp;Please&nbsp;select&nbsp;---"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;ViewPaths&nbsp;=&nbsp;<span class="Keyword">new</span>&nbsp;ViewsPathsModel&nbsp;{&nbsp;ViewPath&nbsp;=&nbsp;<span class="String">"/Views/NccSelect/Partials/_DifferentControls2.cshtml"</span>&nbsp;}<br />
            };<br />
            <br />
            ViewData[context2.Id]&nbsp;=&nbsp;context2;<br />
            <br />
            <span class="Linq">var</span>&nbsp;context3&nbsp;=&nbsp;<span class="Keyword">new</span>&nbsp;NccGridContext<br />
            {<br />
            &nbsp;&nbsp;&nbsp;&nbsp;Id&nbsp;=&nbsp;<span class="String">"DifferentControls3"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;DataAccessClass&nbsp;=&nbsp;<span class="Keyword">typeof</span>(IDataAccess).AssemblyQualifiedName,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;SelectMethod&nbsp;=&nbsp;<span class="String">"GetOrderDetailByOrder"</span>,<br />
            &nbsp;&nbsp;&nbsp;&nbsp;SelectParameters&nbsp;=&nbsp;<span class="Keyword">new</span>&nbsp;{&nbsp;customerId&nbsp;=&nbsp;(<span class="ValueType">int</span>?)<span class="Keyword">null</span>,&nbsp;orderId&nbsp;=&nbsp;(<span class="ValueType">int</span>?)<span class="Keyword">null</span>&nbsp;}.NccToExpando(),<br />
            &nbsp;&nbsp;&nbsp;&nbsp;ViewPaths&nbsp;=&nbsp;<span class="Keyword">new</span>&nbsp;ViewsPathsModel&nbsp;{&nbsp;ViewPath&nbsp;=&nbsp;<span class="String">"/Views/NccSelect/Partials/_DifferentControls3.cshtml"</span>&nbsp;}<br />
            };<br />
            <br />
            ViewData[context3.Id]&nbsp;=&nbsp;context3;<br />
            <span class="Statement">return</span>&nbsp;View();
        </div>    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>View</h3>
        <div class="code">
            &lt;p&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Customer:&nbsp;&lt;/strong&gt;@@<span class="Modifier">await</span>&nbsp;Html.PartialAsync(<span class="String">"/Views/NccSelect/Partials/_DifferentControls1.cshtml"</span>)<br />
            &lt;/p&gt;<br />
            <br />
            &lt;p&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Order:&nbsp;&lt;/strong&gt;@@<span class="Modifier">await</span>&nbsp;Html.PartialAsync(<span class="String">"/Views/NccSelect/Partials/_DifferentControls2.cshtml"</span>)<br />
            &lt;/p&gt;<br />
            <br />
            &lt;p&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;strong&gt;Products:&nbsp;&lt;/strong&gt;&lt;br/&gt;@@<span class="Modifier">await</span>&nbsp;Html.PartialAsync(<span class="String">"/Views/NccSelect/Partials/_DifferentControls3.cshtml"</span>)<br />
            &lt;/p&gt;
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Partial View 1</h3>
        <div class="code">
            @@<span class="Namespace">using</span>&nbsp;ByteNuts.NetCoreControls.Models.Select<br />
            @@{<br />
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="Linq">var</span>&nbsp;context&nbsp;=&nbsp;ViewData[<span class="String">"DifferentControls1"</span>]&nbsp;<span class="Keyword">as</span>&nbsp;NccSelectContext;<br />
            }<br />
            <br />
            &lt;ncc:<span class="Linq">select</span>&nbsp;name=<span class="String">"customerId"</span>&nbsp;Context=<span class="String">"@@context"</span>&nbsp;ncc-link-targets=<span class="String">"DifferentControls1,DifferentControls2,DifferentControls3"</span>&nbsp;<span class="ReferenceType">class</span>=<span class="String">"form-control"</span>&gt;&lt;/ncc:<span class="Linq">select</span>&gt;
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Partial View 2</h3>
        <div class="code">
            @@<span class="Namespace">using</span>&nbsp;ByteNuts.NetCoreControls.Models.Select<br />
            @@{<br />
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="Linq">var</span>&nbsp;context&nbsp;=&nbsp;ViewData[<span class="String">"DifferentControls2"</span>]&nbsp;<span class="Keyword">as</span>&nbsp;NccSelectContext;<br />
            }<br />
            <br />
            &lt;ncc:<span class="Linq">select</span>&nbsp;name=<span class="String">"orderId"</span>&nbsp;Context=<span class="String">"@@context"</span>&nbsp;ncc-link-targets=<span class="String">"DifferentControls1,DifferentControls2,DifferentControls3"</span>&nbsp;<span class="ReferenceType">class</span>=<span class="String">"form-control"</span>&gt;&lt;/ncc:<span class="Linq">select</span>&gt;
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Partial View 3</h3>
        <div class="code">
            @@<span class="Namespace">using</span>&nbsp;ByteNuts.NetCoreControls.Models.Grid<br />
            @@{<br />
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="Linq">var</span>&nbsp;context&nbsp;=&nbsp;ViewData[<span class="String">"DifferentControls3"</span>]&nbsp;<span class="Keyword">as</span>&nbsp;NccGridContext;<br />
            }<br />
            <br />
            &lt;ncc:grid&nbsp;Context=<span class="String">"@@context"</span>&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;ncc:grid-columns&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ncc:grid-columnbound&nbsp;DataValue=<span class="String">"@@Model.OrderId"</span>&nbsp;HeaderText=<span class="String">"Order&nbsp;ID"</span>&gt;&lt;/ncc:grid-columnbound&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ncc:grid-columnbound&nbsp;DataValue=<span class="String">"@@Model.ProductId"</span>&nbsp;HeaderText=<span class="String">"Product&nbsp;ID"</span>&gt;&lt;/ncc:grid-columnbound&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ncc:grid-columnbound&nbsp;DataValue=<span class="String">"@@Model.ProductName"</span>&nbsp;HeaderText=<span class="String">"Product&nbsp;Name"</span>&gt;&lt;/ncc:grid-columnbound&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ncc:grid-columnbound&nbsp;DataValue=<span class="String">"@@Model.UnitPrice"</span>&nbsp;HeaderText=<span class="String">"UnitPrice"</span>&gt;&lt;/ncc:grid-columnbound&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ncc:grid-columnbound&nbsp;DataValue=<span class="String">"@@Model.Quantity"</span>&nbsp;HeaderText=<span class="String">"Quantity"</span>&gt;&lt;/ncc:grid-columnbound&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ncc:grid-columnbound&nbsp;DataValue=<span class="String">"@@Model.Discount"</span>&nbsp;HeaderText=<span class="String">"Discount"</span>&gt;&lt;/ncc:grid-columnbound&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/ncc:grid-columns&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;ncc:grid-emptyrow&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&nbsp;<span class="ReferenceType">class</span>=<span class="String">"text-center"</span>&gt;&lt;strong&gt;No&nbsp;order&nbsp;details&lt;/strong&gt;&lt;/div&gt;<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&lt;/ncc:grid-emptyrow&gt;<br />
            &lt;/ncc:grid&gt;
        </div>
    </div>
</div>