@{
}

<div class="text-center">
    <h2>NetCoreControls demo page</h2>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3>
        <a href="https://github.com/ByteNuts/NetCoreControls">GitHub Repo</a>
    </h3>
    <p>&nbsp;</p>
    <h3>
        <a href="http://netcorecontrols.readthedocs.io/en/latest/index.html">Documentation</a>
    </h3>
</div>
