<p>
    <strong>Customer: </strong>@await Html.PartialAsync("/Views/NccSelect/Partials/_DifferentControls1.cshtml")
</p>

<p>
    <strong>Order: </strong>@await Html.PartialAsync("/Views/NccSelect/Partials/_DifferentControls2.cshtml")
</p>

<p>
    <strong>Products: </strong><br/>@await Html.PartialAsync("/Views/NccSelect/Partials/_DifferentControls3.cshtml")
</p>