<p>
    <strong>Supplier: </strong>@await Html.PartialAsync("/Views/NccSelect/Partials/_DropDownList1.cshtml")
</p>

<p>
    <strong>Categories: </strong>@await Html.PartialAsync("/Views/NccSelect/Partials/_DropDownList2.cshtml")
</p>

<p>
    <strong>Products: </strong>@await Html.PartialAsync("/Views/NccSelect/Partials/_DropDownList3.cshtml")
</p>