@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section id="banner" class="banner">
    <div class="trans-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h2><a href="" class="lg-logo default-color">NET CORE CONTROLS</a></h2> <!--/ .lg-logo -->
                    <h3>Open source set of UI controls for ASP.NET MVC Core</h3>
                    <div class="flex_text text-slider">
                        <ul class="slides">
                            <li>Use any data access framework</li>
                            <li>Dynamic models allowed</li>
                            <li>Communication between controls</li>
                            <li>Default and custom event registration</li>
                            <li>AJAX enabled</li>
                        </ul>
                    </div>
                    <!--/.text-slider end-->
                    @*<ul class="app">
                        <li><a href=""><img src="/images/github.png" alt="GitHub" width="100" height="100" /><br/>GitHub Repo</a></li>
                        <li><a href=""><img src="/images/readthedocs.png" alt="ReadTheDocs" width="78" height="100" /><br />Documentation</a></li>
                    </ul>*@
                    <div class="download-block text-center">
                        <a href="https://github.com/ByteNuts/NetCoreControls" class="btn-download"><img src="/images/github.png" alt="GitHub" width="100" height="100" /><br />GitHub Repo</a>
                        <a href="http://netcorecontrols.readthedocs.io/en/latest/" class="btn-download"><img src="/images/readthedocs.png" alt="ReadTheDocs" width="78" height="100" /><br />Documentation</a>
                        <a href="https://github.com/ByteNuts/NetCoreControls.Samples" class="btn-download"><img src="/images/github.png" alt="GitHub" width="100" height="100" /><br />Samples Repo</a>
                    </div>
                    <h3 style="margin-bottom: 0;">Samples</h3>
                    <div class="samples-block text-center">
                        <a href="ef" class="btn-download"><img src="/images/entityframework.png" alt="EntityFramework" width="103" height="60" /><br />Entity Framework</a>
                        <a href="dapper" class="btn-download"><img src="/images/stackexchange.png" alt="Dapper" width="60" height="60" /><br />Dapper</a>
                    </div>
                    <h3 style="margin-bottom: 0;">Feel free to contribute!</h3>
               </div>
            </div>
        </div>
    </div> <!-- /.trans-bg -->
</section>
